<style>
  .col-sm-4{
    border: 1px solid #cdcdcd;
    padding: 1px;
  }
  h1{
    color: aqua;
  }
 
</style>
<div class="container-fluid bg-3 text-center">
    <h1 class="lead">FREE ESSAY WRITING TOOLS</h1>
  <div class="row">
      <div class="col-sm-4">
          <h3 class="lead">Plagiarism Checker</h3>
          <img src="images/plag-checker.png" alt="plagiarism-checker" style="width: 200px;">
       <p class="lead">Find out if your paper is original. Our 
           plagiarism detection tool will check all available internet 
           pages to match them with your paper’s content.</p>
           <div class="d-flex action">
              <a href="#" class="btn btn-success">Check My Paper</a>
            </div>
      </div>
      <div class="col-sm-4">
          <h3 class="lead">Words to Minutes Converter</h3>
          <img src="images/words-to-minutes.png" alt="plagiarism-checker" style="width: 200px;">
       <p class="lead">Wonder how much time you need to deliver your speech or presentation? 
           Enter the number of words and find out the approximate time.
           <div class="d-flex action">
              <a href="#" class="btn btn-success">Calculate Wordcount</a>
            </div>
          </p>
      </div>
      <div class="col-sm-4">
          <h3 class="lead">College GPA Calculator</h3>
          <img src="images/gpa-1.png" alt="" style="width: 200px;">
       <p class="lead">Want to know how well you’ve performed this semester? 
           Our tool will help you calculate your semester GPA</p>
           <div class="d-flex action">
              <a href="#" class="btn btn-success">Calculate GPA</a>
            </div>
      </div>
  </div>
  <!-- services -->
  <div class="row">
      <div class="col-sm-4">
          <h3 class="lead">Bibliography Generator</h3>
          <img src="images/bibliography-generator-1.png" alt="plagiarism-checker" style="width: 200px;">
          <p class="lead">Don’t know how to format the bibliography 
              page in your paper?
               Use our free online tool.</p>
               <div class="d-flex action">
                  <a href="#" class="btn btn-success">Generate Bibliography</a>
                </div>
         </div>
         <div class="col-sm-4">
          <h3 class="lead">Thesis statement generator</h3>
          <img src="images/thesis.png" alt="plagiarism-checker" style="width: 200px;">

          <p class="lead">Create a strong thesis statement with our online tool to clearly express 
              ideas you will focus on in your paper.</p>
              <div class="d-flex action">
                  <a href="#" class="btn btn-success">Generate thesis Statements</a>
                </div>
         </div>
         <div class="col-sm-4">
             <h3 class="lead">Words to Pages Converter</h3>
             <img src="images/words-pages-converter.png" alt="plagiarism-checker" style="width: 200px;">
          <p class="lead">Use this converter to calculate how many pages a
               certain number of words is.</p>
               <div class="d-flex action">
                  <a href="#" class="btn btn-primary">Convert words to pages</a>
                </div>
         </div>
  </div>
</div>