<body data-spy="scroll" data-target=".fixed-top">
    <ul class="navbar navbar-dark bg-dark">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-phone"> 0740303088</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-envelope-o"> kaugikawise@gmail.com</i></a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-users"> My Account</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i> Order now</a>
        </li>
      </ul>

    
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/samples">Sample Essays</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tools">Free Writting Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contuct">Contuct Us</a>
          </li>
      </ul>
