<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-6">
          <form>
            <div class="row">
              <div class="form-group col-md-4">
                <label for="inputState">Essay Type</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="col">
                <label for="price">Pages:     1000</label>
                <input type="text" class="form-control" placeholder="Enter number of Pages">
              </div>
            </div>
          <!-- grid starts here -->
          <div class="row" style="font-size: 14px;">
            <div class="col">High School</div>
            <div class="col">Undergrad. (1-2)</div>
            <div class="col">Undergrad. (3-4)</div>
            <div class="col">Master's</div>
            <div class="col">PhD</div>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
            <button type="button" class="btn-dead btn btn-light"><p class="text">Pages
              <div class="radio">
                <label><input type="radio" name="optradio"></label>
              </div>
            </p></button>
          </div>
          <!-- grid ends here  -->
          </form>
        </div>
        <div class="col-sm-6">
            <h3 class="lead">The Best Acadamic writers</h3>
            <p class="lead">Our worldwide team of writers includes native English speakers
                 knowledgeable in numerous 
            subjects, meaning we can help you no matter what your 
            assignment consists of. </p>
            <div class="d-flex action">
                <a href="#" class="btn btn-info">Read More</a>
              </div>
        </div>
    </div>
</div>