
<%- include('../partials/head'); %>
<%- include('../partials/menus'); %>
  <style>
    h1{
      color: aqua;
      text-align: center;
    }
    p{
      padding: 10px;
    }
  </style>
<div class="container-1">
  <h1>Our Pround History</h1>
  <p class="lead">Founded in the spring of 2010, Wise Essay was the brainchild of a 
    team of highly experienced academic writers, who thought it about time 
    that students everywhere had the opportunity to gain access to articulate,
     professional and detailed essays and dissertations. Working with a variety 
     of students from medicine 
    to the arts, technology to law and many more in-between.</p>
    <p class="lead">This proactive team of professionals sought all means to make
       this possible through undergoing strenuous training and research
        into developing the world class service provider that is now Wise Essay.
         The additional team members received all the relevant orientation and training
          that would propel them 
      towards success and delivery of quality.</p>

      <p class="lead">Wise Essay started by a couple of PhD students at their haul of residence in 
        North London, an area called Camden Town. It was initially all about helping fellow 
        students at UCL and a few other undergraduate students with their assignments. Within
         a few months, due to their quality of work, before all the social media of Facebook 
         and Twitter ever existed, the word of mouth brought tens of students from London 
         based universities to them. The help was excellent and the delivery was smooth. 
        So we picked the name as Wise Essay.</p>
        <p class="lead">Back then, the major concern for all the team members was the large quantity
           of incoming work in contrast to the demand for superior quality output.
            Originally, dissertation writing services were the major drive of the team.
             These essentially needed a lot of experience since not all writers at that
              time were proficient enough to come up with good dissertation writing
               services and ensure that the clients did essentially well.

        </p>
        <p class="lead">Now, wise Essay’s customers are coming from all over the world
           including UK, US, Canada, Australia, New Zealand, Ireland, many EU 
           countries and countries in the Gulf area (mainly UAE and Qatar). 
           We now are working with many academics in a wide range of fields covering 
           almost every single subject and courses offered by universities, colleges 
           and any other higher education institutions. When we look back, we see
           we have come a long way. And thanks to our growing team, we are so proud of that. </p>
</div>
<%- include('../partials/free_writing_tools'); %>
<%- include('../partials/footer'); %>
    <script src="../../public/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../../public/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../../public/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../../public/js/scripts.js"></script> <!-- Custom scripts -->

  </body>

</html>

