
<%- include('../partials/head'); %>
<%- include('../partials/menus'); %>
  

<%- include('../partials/footer'); %>
    <script src="../../public/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../../public/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../../public/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../../public/js/scripts.js"></script> <!-- Custom scripts -->

  </body>

</html>

