<%- include('../partials/head'); %>
<%- include('../partials/menus'); %>
<style>
  h3{
      color: aqua;
  }
  .col{
    border: 1px solid #cdcdcd;
  }
  .btn-dead{
    width: 40px;
    padding: 9px;
    height: 200px;
    border: 1px solid #cdcdcd;
  }
  .text{
    font-size: 8px;
  }
  
</style>
<blockquote class="blockquote text-center">
  <h2 style="color: aqua">SAMPLE ACADEMIC ESSAY AND DISSERTATION DATABASE FOR FREE</h2>
    <p class="mb-0 lead">Essay creation is what Wise Essay is all about. Our sample essays 
      speak for itself. Not just this, but unlike so many other online essay writing 
      services, who talk a big game, but don’t actually show you any of their achievements,
       we have a number of pristine and shining examples of just what our writers can do. 
       We have published a large free open source database of academic papers, research, 
      academic essays and dissertations as a sample of our capabilities.</p>
   <br><br><br>
      <p>Below you will find myriad essays from of bespoke essays on a range of subjects.</p>
    
  </blockquote>
  <div class="container">
    <h2 style="color: aqua;">HERE ARE OUR SAMPLE ESSAY AND DISSERTATION EXAMPLES OF YOUR CHOICE:</h2>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-edit"></i> Art Theory</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Austraian History</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Biology- Science</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Relion</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Business</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Chemistry</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Criminology</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Education</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Personal Statement</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Economics</li>
        </ul>
      </div>
      <!-- services start -->
      <div class="col">
        <ul class="list-group">
          <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-edit"></i> Education</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> Engneering</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> Film</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> Financial Planing</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> Gender</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> Geography</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> Goverment</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> History</li>
            <li class="list-group-item"><i class="fa fa-edit"></i> HR</li>
          </ul>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-edit"></i> Information Security</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Information Technology</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Labor</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Law</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Legal Theory</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Litrature</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Maritime science</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Media Studies</li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item"><i class="fa fa-edit"></i> Nursing</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Pharmacology</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Philosophy</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Financial Planing</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Gender</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Geography</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> Goverment</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> History</li>
          <li class="list-group-item"><i class="fa fa-edit"></i> HR</li>
        </ul>
      </div>
    </div>
    <%- include('../partials/services'); %>
<%- include('../partials/footer'); %>
    <script src="../../public/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../../public/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../../public/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../../public/js/scripts.js"></script> <!-- Custom scripts -->

  </body>

</html>

